[Unit]
Description=Face Recognition Security System
After=network.target NetworkManager.service
Wants=network-online.target

[Service]
Type=simple
User=tempuser
Group=Mujeeb
WorkingDirectory=/home/tempuser/Downloads/frs
Environment="PATH=/home/tempuser/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONPATH=/home/tempuser/Downloads/frs"
ExecStart=/usr/bin/python3 -m uvicorn backend.app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5

# Logging
StandardOutput=append:/var/log/frs/backend.log
StandardError=append:/var/log/frs/backend.log

[Install]
WantedBy=multi-user.target
